/* You can add global styles to this file, and also import other style files */

.card{
    position: absolute;
    margin: auto;
    left:0;
    right: 0;
    top: 50px;
}

.card-title{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.submit-btn{
    text-align: center;
}